@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../font/Roboto.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body{
	font-family:'Roboto';
	font-size:21px;
	background:transparent;
	margin:0px;
}

#control{
	background-color:#0e0d40;
	color:#ffffff;
	opacity:0.8;
	padding:20px;
	width:600px;
	height:100px;
	position:fixed;
	bottom:30px;
}